@media(max-width:1024px){
    .main{
        width: 1024px;
        height: 600px;
    }
    .welcome{
        width:624px;
        height: 600px;
    }
    .login{
        width: 400px;
        height: 600px;
    }
    .login .container{
        width: 70%;
        height: 500px;
        margin:15px auto;
    }
    .login .icon{
        margin-bottom: 0;
    }
    .container div button {
        margin: 0;
    }
    .container h2{
        font-size: 20px;
    }
    form{
        margin: 0;
    }
    form>input{
        height: 30px;
    }
}
@media (max-width:780px) {
    .main{
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .welcome{
        width: 100%;
        height: 360px;
    }
    .login{
        text-align: left;
    }

}
@media (max-width:375px) {
    
    .welcome{
       background-size: 100%;
       height: 320px;
    }
    .login{
        width: 100%;
    }
    .container{
        width: 70%;
    }
}
@media (max-width:320px) {
    .welcome{
        height: 250px;
    }
    .login{
        width: 100%;
        font-size: 16px;
    }
    .container{
        width: 70%;
    }
    .container p{
        font-size: 12px;
    }
    .container div button{
        height: 20px;
        font-size: 10px;
    }
    .container div button img{
        width: 10px;
    }
    .another_sign{
        font-size: 10px;
    }
    .form_actions label span,.form_actions a{
        font-size: 10px;
    }
    .log_in{
        height: 30px;
        font-size: 15px;
    }
    .sign_up span,.sign_up a{
        font-size: 12px;
    }
}